<div class="h-screen font-sans login bg-cover">
  <div class="container mx-auto h-full flex flex-1 justify-center items-center">
    <div class="w-full max-w-lg">
      <div class="leading-loose">
        <form
          class="
            max-w-sm
            m-4
            p-10
            bg-white bg-opacity-25
            rounded
            shadow-xl
            form-group
          "
        >
          <p class="text-white font-medium text-center text-lg font-bold">
            register
          </p>
          <div class="">
            <label class="block text-sm text-white" for="email">Name</label>
            <input
              [(ngModel)]="name"
              class="
                w-full
                px-5
                py-1
                text-gray-700
                bg-gray-300
                rounded
                focus:outline-none
                focus:bg-white
              "
              type="email"
              placeholder="Name"
              aria-label="Name"
              required
              name="name"
            />
          </div>
          <div class="">
            <label class="block text-sm text-white" for="email"
              >Phone Number</label
            >
            <input
              [(ngModel)]="phone"
              class="
                w-full
                px-5
                py-1
                text-gray-700
                bg-gray-300
                rounded
                focus:outline-none
                focus:bg-white
              "
              type="text"
              placeholder="Phone Number"
              aria-label="Phone"
              required
              name="phone"
            />
          </div>
          <div class="">
            <label class="block text-sm text-white" for="email">E-mail</label>
            <input
              [(ngModel)]="email"
              class="
                w-full
                px-5
                py-1
                text-gray-700
                bg-gray-300
                rounded
                focus:outline-none
                focus:bg-white
              "
              type="email"
              placeholder="E-mail"
              aria-label="email"
              required
              name="mail"
            />
          </div>
          <div class="mt-2">
            <label class="block text-sm text-white">Password</label>
            <input
              class="
                w-full
                px-5
                py-1
                text-gray-700
                bg-gray-300
                rounded
                focus:outline-none
                focus:bg-white
              "
              type="password"
              id="password"
              placeholder="Password"
              arial-label="password"
              required
              [(ngModel)]="password"
              name="pass"
            />
          </div>

          <div class="mt-4 items-center flex justify-between">
            <button
              class="
                px-4
                py-1
                text-white
                font-light
                tracking-wider
                bg-gray-900
                hover:bg-gray-800
                rounded
              "
              type="submit"
              (click)="onSubmit()"
            >
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
