<div *ngIf="!user" class="contenedor">
  <h1 class="stars">para ver la lista de naves tiene que estar logueado</h1>
</div>
<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  (scrolled)="onScroll()"
  [infiniteScrollThrottle]="50"
  [scrollWindow]="false"
>
  <div
    class="
      flex flex-col
      bg-white
      px-8
      py-6
      max-w-sm
      mx-auto
      rounded-lg
      shadow-lg
      m-3
      bg-opacity-70
    "
    *ngFor="let ship of naves"
  >
    <div class="flex justify-center items-center">
      <a class="px-2 py-1 bg-gray-600 text-sm text-gray-300 rounded" href="#">{{
        ship.starship_class
      }}</a>
    </div>
    <div class="mt-4">
      <a class="text-lg text-gray-700 font-medium" href="#">{{ ship.name }}</a>
    </div>
    <div class="flex justify-between items-center mt-4">
      <div class="flex items-center">
        <button
          class="
            px-2
            py-1
            bg-gray-600
            text-sm text-gray-300
            rounded
            cursor-pointer
            hover:bg-yellow-300
            hover:text-gray-700
          "
          (click)="goDetails(ship.url, ship.name)"
        >
          SHOW
        </button>
      </div>
      <span class="font-light text-sm text-gray-600">{{
        ship.manufacturer
      }}</span>
    </div>
  </div>
</div>
