/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(src/assets/background-stars.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
@font-face {
  font-family: stars;
  src: url(assets/Starjedi.ttf) format("opentype");
}
@font-face {
  font-family: starsLine;
  src: url(assets/Starjhol.ttf) format("opentype");
}
